<div class="main-content">

    <form autocomplete="off">
        <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px; width: 100%;">
            <div class="row">
                <div class="col-md-11">
                    <h3>Chatarreo Voluntario</h3>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card" style="padding-left:20px; padding-right: 20px;">
                        <div class="header">
                            <h4 class="title">Datos del Vehículo</h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="legacy" class="w100p">
                                        <mat-label>Placa del vehículo</mat-label>
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>Nº Chasís</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>Nº Motor</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>VIN</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>Modelo</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>Marca</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>Categoría</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4 class="title">Datos del Solicitante</h4>
                                </div>
                                <div class="col-md-3">
                                    <mat-slide-toggle color="warn">Es el propietario</mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <mat-radio-group aria-label="Select an option" color="warn">
                                <mat-radio-button style="margin-right: 15px;" value="1">Persona Natural</mat-radio-button>
                                <mat-radio-button value="2">Persona Jurídica</mat-radio-button>
                            </mat-radio-group>

                            <div style="margin-top: 20px;" class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="legacy" class="w100p">
                                        <mat-label>DNI</mat-label>
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>Nombre Completo</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>E-mail</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>Teléfono</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h4 class="title">Datos del Propietario</h4>
                        </div>
                        <div class="content">
                            <mat-radio-group aria-label="Select an option" color="warn">
                                <mat-radio-button style="margin-right: 15px;" value="1">Persona Natural</mat-radio-button>
                                <mat-radio-button value="2">Persona Jurídica</mat-radio-button>
                            </mat-radio-group>

                            <div style="margin-top: 20px;" class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="legacy" class="w100p">
                                        <mat-label>DNI</mat-label>
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="legacy" class="w100p">
                                            <mat-label>Nombre Completo</mat-label>
                                            <input type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Documentos / Imágenes</h4>
                        </div>
                        <div class="content">

                            <div style="display: flex; " class="form-group">
                                <mat-form-field appearance="legacy" style="margin-right: 10px;">
                                    <mat-label>Nombre documento</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <input style="line-height: 3;" type="file" class="form-control-file">
                            </div>
                            <div style="display: flex; " class="form-group">
                                <mat-form-field appearance="legacy" style="margin-right: 10px;">
                                    <mat-label>Nombre documento</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <input style="line-height: 3;" type="file" class="form-control-file">
                            </div>
                            <div style="display: flex; " class="form-group">
                                <mat-form-field appearance="legacy" style="margin-right: 10px;">
                                    <mat-label>Nombre documento</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <input style="line-height: 3;" type="file" class="form-control-file">
                            </div>
                            <div style="display: flex; " class="form-group">
                                <mat-form-field appearance="legacy" style="margin-right: 10px;">
                                    <mat-label>Nombre documento</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <input style="line-height: 3;" type="file" class="form-control-file">
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h4 class="title">Observación</h4>
                        </div>
                        <div style="padding-right: 20px; padding-left: 20px; padding-top: 10px;">
                            <mat-form-field appearance="outline" class="w100p">
                                <textarea rows="10" matInput placeholder="Escribir observación..."></textarea>
                            </mat-form-field>
                        </div>

                        <!-- <div style="padding-right: 40px; padding-left: 40px;" class="content">

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="w100p">
                                        <mat-label>Fecha Incial</mat-label>
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="w100p">
                                        <mat-label>Fecha Final</mat-label>
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="w100p">
                                        <mat-label>Hora Incial</mat-label>
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="w100p">
                                        <mat-label>Hora Final</mat-label>
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label style="line-height:3;" class="col-sm-2 col-form-label">Foto.&nbsp;Ini</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control">
                                    <small>Peso máximo 200kb</small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label style="line-height:3;" class="col-sm-2 col-form-label">Foto.&nbsp;Fin</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control">
                                    <small>Peso máximo 200kb</small>
                                </div>
                            </div>

                        </div> -->
                    </div>

                </div>
            </div>
        </div>

        <div style="width: 100%; text-align: right; padding-right: 20px; padding-left: 20px; margin-bottom: 20px; margin-top: 15px;">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2" style="margin-right: -20px;">
                    <button class="btn-block" mat-stroked-button color="warn">Cancelar</button>
                </div>
                <div class="col-md-2">
                    <button class="btn-block" mat-raised-button color="warn">Guardar</button>
                </div>
            </div>
        </div>
    </form>

</div>