<div class="main-content">

    <form autocomplete="off">
        <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px; width: 100%;">
            <div class="row">
                <div class="col-md-1" style="text-align: right; margin-right: -20px;">
                    <button class="btn-block" mat-stroked-button>Iniciar</button>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-8">
                    <div class="card" style="padding: 15px 20px;">
                        <div class="header">
                            <h4 class="title">Compactación</h4>
                        </div>
                        <div class="content">

                            <div style="margin-top: 20px;" class="row">
                                <div class="col-md-12">
                                    <mat-checkbox color="primary" class="example-margin">Compresión de los residuos del vehículo</mat-checkbox>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <mat-checkbox color="primary" class="example-margin">Pesaje de la chatarra</mat-checkbox>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12" style="margin-top: 20px;">
                                        <strong>Pesaje estimado de chatarra:</strong>&nbsp;&nbsp;
                                        <span>95kg</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12" style="margin-top: 0px;">
                                        <strong>Peso real de chatarra (kg):</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <mat-form-field appearance="legacy">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card" style="padding:10px">
                        <div class="header">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center bg-vehiculo" colspan="4" scope="col">
                                            Datos del Vehículo
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Placa</th>
                                        <td>AEF-717</td>
                                        <th>Nº Chasis</th>
                                        <td>ADR12345</td>
                                    </tr>
                                    <tr>
                                        <th>Nº Motor</th>
                                        <td>ADR12345</td>
                                        <th>VIN</th>
                                        <td>ADR12345</td>
                                    </tr>
                                    <tr>
                                        <th>Categoría</th>
                                        <td>Sedan</td>
                                        <th>Marca</th>
                                        <td>Toyota</td>

                                    </tr>
                                    <tr>
                                        <th>Modelo</th>
                                        <td colspan="3">Yaris 2015</td>
                                    </tr>
                                    <tr>
                                        <th>Año</th>
                                        <td>2015</td>
                                        <th>Combustible</th>
                                        <td>Gasolina</td>
                                    </tr>
                                    <tr>
                                        <th>Pesaje</th>
                                        <td>159kg</td>
                                        <th>Kilogramos</th>
                                        <td>162.5kg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div style="width: 100%; text-align: right; padding-right: 20px; padding-left: 20px; margin-top: 380px;">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2" style="margin-right: -20px;">
                    <button class="btn-block" mat-stroked-button color="warn">Cancelar</button>
                </div>
                <div class="col-md-2">
                    <button class="btn-block" mat-raised-button color="warn">Guardar</button>
                </div>
            </div>
        </div>
    </form>

</div>