<div class="main-login">
    <div class="card card-user">
        <div class="image">
            <img src="assets/img/back_login.svg" alt="..." />
            <div class="back-red"></div>
        </div>
        <div class="content">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="assets/img/faces/face-0.svg" alt="..." />

                    <h3 class="title">Iniciar Sesión</h3>
                </a>
            </div>
            <form autocomplete="off" class="mt-30 form-login">
                <mat-form-field appearance="outline" class="w100p">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Ingrese su dni">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w100p">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password': 'text'">
                    <button class="button-hide" type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-checkbox class="example-margin" color="warn">Recuérdame</mat-checkbox>
                <br><br>
                <button [routerLink]="['/']" class="btn-block" mat-raised-button color="warn">Ingresar</button>
            </form>
        </div>
        <br><br><br><br><br>
        <hr>
        <div class="text-center">
            <small>Plataforma Nacional de Vehículos Chatarizados</small>
        </div>
    </div>
</div>