.main-login {
    background-color: #F7F7F8 !important;
    height: 100vh;
    width: 100%;
    position: relative;
}

.card-user {
    width: 500px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.button-hide {
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}

.form-login {
    padding: 25px;
}