<div class="main-content">

    <form autocomplete="off">
        <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px; width: 100%;">
            <div class="row">
                <div class="col-md-1" style="text-align: right; margin-right: -20px;">
                    <button class="btn-block" mat-stroked-button>Iniciar</button>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-8">

                    <div class="card" style="padding-left:20px; padding-right: 20px;">
                        <div class="header">
                            <h4 class="title">Verificación Física</h4>
                        </div>
                        <div class="content">

                            <div style="margin-top: 20px;" class="row">
                                <div class="col-md-12">
                                    <mat-checkbox color="primary" class="example-margin">Retiro de placas</mat-checkbox>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <mat-checkbox color="primary" class="example-margin">Nº motor y chasis coiciden con la TIV</mat-checkbox>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <mat-checkbox color="warn" class="example-margin">El vehículo llega por su propia propulsión</mat-checkbox>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <mat-checkbox color="warn" class="example-margin">Cuenta con los componentes estructurales completos</mat-checkbox>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12" style="margin-top: 15px;">
                                        <strong>Peso estimado del vehículo:</strong>&nbsp;&nbsp;
                                        <span>120kg</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12" style="margin-top: 0px;">
                                        <strong>Peso real del vehículo (kg):</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <mat-form-field appearance="legacy">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card" style="padding-left:20px; padding-right: 20px;">
                        <div class="header">
                            <h4 class="title">Obervación</h4>
                        </div>
                        <div class="content">
                            <mat-form-field appearance="outline" class="w100p">
                                <textarea rows="15" matInput placeholder="Escribir observación..."></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card" style="padding:10px">
                        <div class="header">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center bg-vehiculo" colspan="4" scope="col">
                                            Datos del Vehículo
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Placa</th>
                                        <td>AEF-717</td>
                                        <th>Nº Chasis</th>
                                        <td>ADR12345</td>
                                    </tr>
                                    <tr>
                                        <th>Nº Motor</th>
                                        <td>ADR12345</td>
                                        <th>VIN</th>
                                        <td>ADR12345</td>
                                    </tr>
                                    <tr>
                                        <th>Categoría</th>
                                        <td>Sedan</td>
                                        <th>Marca</th>
                                        <td>Toyota</td>

                                    </tr>
                                    <tr>
                                        <th>Modelo</th>
                                        <td colspan="3">Yaris 2015</td>
                                    </tr>
                                    <tr>
                                        <th>Año</th>
                                        <td>2015</td>
                                        <th>Combustible</th>
                                        <td>Gasolina</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card" style="padding:10px">
                        <div class="header">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center bg-propietario" colspan="2" scope="col">
                                            Propietario
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th style="width: 35%;">Tipo de Documento</th>
                                        <td>DNI</td>
                                    </tr>
                                    <tr>
                                        <th>Nº Documento</th>
                                        <td>06761377</td>
                                    </tr>
                                    <tr>
                                        <th>Nombres</th>
                                        <td>SICCHA MACASSI LUPE ELIZABETH</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card" style="padding:10px">
                        <div class="header">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center bg-representante" colspan="2" scope="col">
                                            Representante
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th style="width: 35%;">Tipo de Documento</th>
                                        <td>DNI</td>
                                    </tr>
                                    <tr>
                                        <th>Nº Documento</th>
                                        <td>21520706</td>
                                    </tr>
                                    <tr>
                                        <th>Nombres</th>
                                        <td>Jose Liza</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div style="width: 100%; text-align: right; padding-right: 20px; padding-left: 20px; margin-top: 15px;">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2" style="margin-right: -20px;">
                    <button class="btn-block" mat-stroked-button color="warn">Cancelar</button>
                </div>
                <div class="col-md-2">
                    <button class="btn-block" mat-raised-button color="warn">Guardar</button>
                </div>
            </div>
        </div>
    </form>

</div>